a:hover{
    color: #8ab525;
}
.navs-list dl a:hover{
    color: #8ab525 !important;
}
.coupon-toolbar-ul li .coupontype:hover{
    color: #8ab525;
}
.shopHeader .search-tabs li.active{
    background-color:#abce5b;
}
.shopHeader .w .search .searchs{
    background-color: #abce5b;
}
.shopHeader .threeItem .carBorder .circle{
    background-color: #abce5b;
}
.navs{
    background-color: #abce5b !important;
}
.shopIndex-main .shop .enterShop{
    background-color: #abce5b;
}
.shopHeader .w .search .search_input{
    border-color: #abce5b;
}
.shopIndex-main .header .w .search .search_store, .shopIndex-main .header .w .search .search_web{
    background-color: #abce5b;
}

.shopIndex-main .navs {
    background-color: #abce5b;
}
.goods-promotion{
    background-color: #abce5b;
}

.detail-info .action .btn-buy a {
    background-color: #d9e9b5;
    border: 1px solid #abce5b;
    color: #abce5b;
}
.detail-info .action .btn-buy a.add-cart {
    background-color: #abce5b;
    border: 1px solid #abce5b;
}
.store-info .shopsOptions a.enter{
    color: #abce5b;
    border: 1px solid #abce5b;
}
.left-con .tabs li.active{
    border-top: 2px solid #abce5b;
}
.left-con .tabs li.active a {
    color: #abce5b;
}
.comment-type .tab-nav li.current {
    color: #abce5b;
    border-bottom: 2px solid #abce5b;
}
.guessBuy .guessBuy-ul li.active {
    color: #abce5b;
    border-bottom: 2px solid #abce5b;
}
.sc-hr{
   background-color: #abce5b;
}
.v-main-content .info{
   background-color: #abce5b !important;
}
.trade-item .trade-state a i{
    color: #abce5b;
}
.trade-item .trade-state a .border {
    background-color: #abce5b;
}
.cost-item .safe-level .promote-txt{
    color:#abce5b;
}
.cost-item .phone-txt .remove {
    color: #abce5b;
}
.trade-item-title .text{
    border-left-color:#abce5b;
}
.navs-list dl a.active {
    color: #abce5b !important;
}
.header .w .search .searchs{
    background-color: #abce5b !important;
}
.search .search_to{
    background-color: #abce5b;
}
.myOrder-ul li.active {
    border-bottom-color: #abce5b;
}
.balance-box .balance-item:last-child a:first-child{
    background-color: #abce5b;
}
.balance-box .balance-item:last-child a{
    border-color: #abce5b;
    color: #abce5b;
}

.m-style .active{
    background: #abce5b !important;
    border-color: #abce5b !important;
}
input[type=radio]:checked:before{
    background: #abce5b !important;
}
input[type=radio]:checked {
    border: 2px solid #abce5b !important;
}

.ms-stand-btn1 {
    background: #abce5b !important;
}
.results-rblock .second-filter .nofollow.active{
    color: #abce5b;
}

.navs li:hover {
  background-color:#d9e9b5;
}

.navs li.active {
  background-color: #d9e9b5 !important;
}
.shopIndex-main .navs .nav_main ul li:hover {
  background-color: #d9e9b5;
}
.v-head-full{
    border-bottom: 5px solid #abce5b;
}
.footer-bt5 {
    border-top: 5px solid #abce5b !important;
}

.shopHeader .threeItem .carBorder .carsIcon{
    color: #abce5b;
}
.shopHeader .threeItem .carBorder .dorpdown-layer .dorpdown-layer-footer a.fr{
    background-color: #abce5b;
}
.v-head .registered-right a {
    color: #abce5b;
}
.v-head-full {
    border-bottom-color: #abce5b;
}
.login-box .submit.okSubmit {
    background-color: #abce5b;
}
.info-avatar-wrapper .member-home{
    border: 3px solid #abce5b !important;
}
.header .w .search .search_input{
    border: 2px solid #abce5b !important;
}
.coupon-toolbar-ul li.active {
    border-bottom: 2px solid #abce5b;
}
.coupon-toolbar-ul li.active a {
    color: #abce5b;
}
.showStyle li.active .links i{
    color: #abce5b;
}
.filter-results2 .list-box-item .col5 a{
    background-color: #abce5b;
}
.filter-results2 .list-box-item .col5 a:hover{
    color: #fff !important;
}
.page-num .curr {
    border: 1px solid #abce5b;
    background: #abce5b;
}
.attrs .multiple .attrValues .av-expand li a .icon-selected{
    color: #abce5b;
}
.btn-primary{
    background-color: #abce5b;
}

.pr .obtain-code{
    background-color: #abce5b;
}
.login-box .submit.okSubmit{
    background-color: #abce5b;
}
.filter-results ul li .wrap-img .wrap-img-tips a:hover{
    color: #fff !important;
}
.page-num a:hover{
    border: 1px solid #abce5b;
    color: #abce5b;
}
.goodsCollection-title .text {
    border-left: 3px solid #abce5b;
}
.menus .help-title {
    background-color: #abce5b;
}
.header .w .search .search_store, .header .w .search .search_web{
    background-color: #abce5b;
}
.shop .enterShop{
    background-color: #abce5b;
}
.header .w .search .search_web {
    background-color: #5e5e5e;
}
.w1000 .toPay .border {
    background-color: #abce5b;
}
.w1000 .pay-method .tabs li.active {
    border-bottom: 2px solid #abce5b;
}
.withdrawalBalance .withdrawal-a {
    background-color: #abce5b;
}
.aSfatefy-content dl dd:nth-child(3) .edit {
    border: 1px solid #abce5b;
    color: #abce5b;
}
.aSfatefy-content dl dd:nth-child(3) .edit.bind {
    background-color: #abce5b;
}
.shopList .sort .sort-item li.active {
    background-color: #abce5b;
}
.shopList .sortSearch li.active a {
    color: #abce5b;
}
.screen-title .text {
    border-bottom-color:#abce5b;
}
.selected-attr dd .selected-attr li b.blue{
    color: #abce5b;
}
.selected-attr dd .selected-attr li a:hover {
    border-color: #abce5b;
}
.selected-attr dd .selected-attr li a:hover i {
    background-color: #abce5b;
}
.btn-primary:hover {
    color: #fff;
    background-color: #abce5b;
    border-color: #abce5b;
}
.apply-company-info .btn.btn-default{
    background-color: #abce5b;
}

input[type=checkbox]:checked{
    border-color:#abce5b;
    background: #abce5b;
}
.float-bar .submit-btn{
    background:#abce5b;
}
.submit-btn a{
    background:#abce5b;
}
