@font-face {
  font-family: 'wap_iconfont';
  src:  url('../wap_fonts/iconfont.eot?mwdobl');
  src:  url('../wap_fonts/iconfont.eot?mwdobl#iefix') format('embedded-opentype'),
    url('../wap_fonts/iconfont.ttf?mwdobl') format('truetype'),
    url('../wap_fonts/iconfont.woff?mwdobl') format('woff'),
    url('../wap_fonts/iconfont.svg?mwdobl#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="v-icon-"], [class*=" v-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wap_iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-icon-qq:before {
  content: "\e900";
}
.v-icon-qq2:before {
  content: "\e901";
}
.v-icon-edit:before {
  content: "\e902";
}
.v-icon-text:before {
  content: "\e903";
}
.v-icon-menu:before {
  content: "\e904";
}
.v-icon-logistic1:before {
  content: "\e905";
}
.v-icon-delivery1:before {
  content: "\e906";
}
.v-icon-delivery2:before {
  content: "\e907";
}
.v-icon-delivery3:before {
  content: "\e908";
}
.v-icon-payment1:before {
  content: "\e909";
}
.v-icon-payment2:before {
  content: "\e90a";
}
.v-icon-evaluate1:before {
  content: "\e90b";
}
.v-icon-evaluate2:before {
  content: "\e90c";
}
.v-icon-logistic2:before {
  content: "\e90d";
}
.v-icon-logistic3:before {
  content: "\e90e";
}
.v-icon-logistic4:before {
  content: "\e90f";
}
.v-icon-cart1:before {
  content: "\e910";
}
.v-icon-map:before {
  content: "\e911";
}
.v-icon-map2:before {
  content: "\e912";
}
.v-icon-phone:before {
  content: "\e913";
}
.v-icon-shop2:before {
  content: "\e914";
}
.v-icon-shop1:before {
  content: "\e915";
}
.v-icon-shop:before {
  content: "\e916";
}
.v-icon-shop-active:before {
  content: "\e917";
}
.v-icon-shop3:before {
  content: "\e918";
}
.v-icon-top:before {
  content: "\e919";
}
.v-icon-guarantee:before {
  content: "\e91a";
}
.v-icon-success:before {
  content: "\e91b";
}
.v-icon-arrow-left2:before {
  content: "\e91c";
}
.v-icon-arrow-left:before {
  content: "\e91d";
}
.v-icon-bonus:before {
  content: "\e91e";
}
.v-icon-balance1:before {
  content: "\e91f";
}
.v-icon-balance2:before {
  content: "\e920";
}
.v-icon-applicat-active:before {
  content: "\e921";
}
.v-icon-applicat:before {
  content: "\e922";
}
.v-icon-Forward:before {
  content: "\e923";
}
.v-icon-text1:before {
  content: "\e924";
}
.v-icon-manage:before {
  content: "\e925";
}
.v-icon-team:before {
  content: "\e926";
}
.v-icon-commission:before {
  content: "\e927";
}
.v-icon-member:before {
  content: "\e928";
}
.v-icon-member-active:before {
  content: "\e929";
}
.v-icon-cart:before {
  content: "\e92a";
}
.v-icon-cart-active:before {
  content: "\e92b";
}
.v-icon-close:before {
  content: "\e92c";
}
.v-icon-upward:before {
  content: "\e92d";
}
.v-icon-user1:before {
  content: "\e92e";
}
.v-icon-avatar:before {
  content: "\e92f";
}
.v-icon-praise:before {
  content: "\e930";
}
.v-icon-validate:before {
  content: "\e931";
}
.v-icon-logistic5:before {
  content: "\e932";
}
.v-icon-level:before {
  content: "\e933";
}
.v-icon-arrow-right:before {
  content: "\e934";
}
.v-icon-arrow-right2:before {
  content: "\e935";
}
.v-icon-triangle:before {
  content: "\e936";
}
.v-icon-money:before {
  content: "\e937";
}
.v-icon-kf1:before {
  content: "\e938";
}
.v-icon-kf3:before {
  content: "\e939";
}
.v-icon-kf2:before {
  content: "\e93a";
}
.v-icon-remove:before {
  content: "\e93b";
}
.v-icon-edit2:before {
  content: "\e93c";
}
.v-icon-password:before {
  content: "\e93d";
}
.v-icon-acreage:before {
  content: "\e93e";
}
.v-icon-acreage2:before {
  content: "\e93f";
}
.v-icon-sort1:before {
  content: "\e940";
}
.v-icon-sort2:before {
  content: "\e941";
  color: #ff2626;
}
.v-icon-sort:before {
  content: "\e942";
}
.v-icon-position:before {
  content: "\e943";
}
.v-icon-manage2:before {
  content: "\e944";
}
.v-icon-channel:before {
  content: "\e945";
}
.v-icon-channel2:before {
  content: "\e946";
}
.v-icon-confirm:before {
  content: "\e947";
}
.v-icon-qr:before {
  content: "\e948";
}
.v-icon-qr1:before {
  content: "\e949";
}
.v-icon-screen:before {
  content: "\e94a";
}
.v-icon-cart2:before {
  content: "\e94b";
}
.v-icon-stock:before {
  content: "\e94c";
}
.v-icon-collection:before {
  content: "\e94d";
}
.v-icon-set:before {
  content: "\e94e";
}
.v-icon-set1:before {
  content: "\e94f";
}
.v-icon-set2:before {
  content: "\e950";
}
.v-icon-set3:before {
  content: "\e951";
}
.v-icon-love:before {
  content: "\e952";
}
.v-icon-star:before {
  content: "\e953";
}
.v-icon-phone1:before {
  content: "\e954";
}
.v-icon-home:before {
  content: "\e955";
}
.v-icon-home-active:before {
  content: "\e956";
}
.v-icon-sale:before {
  content: "\e957";
}
.v-icon-help:before {
  content: "\e958";
}
.v-icon-logistic6:before {
  content: "\e959";
}
.v-icon-search:before {
  content: "\e95a";
}
.v-icon-gift:before {
  content: "\e95b";
}
.v-icon-warn:before {
  content: "\e95c";
}
.v-icon-warn1:before {
  content: "\e95d";
}
.v-icon-refund:before {
  content: "\e95e";
}
.v-icon-forget:before {
  content: "\e95f";
}
.v-icon-wechat:before {
  content: "\e960";
}
.v-icon-wx-pay:before {
  content: "\e961";
}
.v-icon-avatar1:before {
  content: "\e962";
}
.v-icon-form:before {
  content: "\e963";
}
.v-icon-qr3:before {
  content: "\e964";
}
.v-icon-customer:before {
  content: "\e965";
}
.v-icon-assets:before {
  content: "\e966";
}
.v-icon-take:before {
  content: "\e967";
}
.v-icon-stars:before {
  content: "\e968";
}
.v-icon-stars-hover:before {
  content: "\e969";
}
.v-icon-logistic7:before {
  content: "\e96a";
}
.v-icon-write:before {
  content: "\e96b";
}
.v-icon-message:before {
  content: "\e96c";
}
.v-icon-mail:before {
  content: "\e96d";
}
.v-icon-message1:before {
  content: "\e96e";
}
.v-icon-overdue:before {
  content: "\e96f";
}
.v-icon-success1:before {
  content: "\e970";
}
.v-icon-collect:before {
  content: "\e971";
}
.v-icon-success2:before {
  content: "\e972";
}
.v-icon-card:before {
  content: "\e973";
}
.v-icon-coupon-expire:before {
  content: "\e974";
}
.v-icon-coupon-use:before {
  content: "\e975";
}
.v-icon-balance3:before {
  content: "\e976";
}
.v-icon-menu1:before {
  content: "\e977";
}
.v-icon-arrow-down:before {
  content: "\e978";
}
.v-icon-spread:before {
  content: "\e979";
}
.v-icon-user:before {
  content: "\e97a";
}
.v-icon-camera:before {
  content: "\e97b";
}
.v-icon-info:before {
  content: "\e97c";
}
.v-icon-alipay:before {
  content: "\e97d";
}
.v-icon-success3:before {
  content: "\e97e";
}
.v-icon-close2:before {
  content: "\e97f";
}
.v-icon-set-top:before {
  content: "\e980";
}
.v-icon-review:before {
  content: "\e981";
}
.v-icon-join:before {
  content: "\e982";
}
.v-icon-assets1:before {
  content: "\e983";
}
.v-icon-location:before {
  content: "\e984";
}
