 <div class="icon-selection mb-20">
    <a href="javascript:void(0);" class="items" title="home-active-1" >
        <div><img src="/public/platform/images/wpFooterIcon/home-active-1.png" alt=""></div>
        <span class="icons-name">Home-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="home-normal-1" >
        <div><img src="/public/platform/images/wpFooterIcon/home-normal-1.png" alt=""></div>
        <span class="icons-name">Home-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="home-active-2" >
        <div><img src="/public/platform/images/wpFooterIcon/home-active-2.png" alt=""></div>
        <span class="icons-name">Home-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="home-normal-2" >
        <div><img src="/public/platform/images/wpFooterIcon/home-normal-2.png" alt=""></div>
        <span class="icons-name">Home-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="home-active-3" >
        <div><img src="/public/platform/images/wpFooterIcon/home-active-3.png" alt=""></div>
        <span class="icons-name">Home-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="home-normal-3" >
        <div><img src="/public/platform/images/wpFooterIcon/home-normal-3.png" alt=""></div>
        <span class="icons-name">Home-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="home-active-4" >
        <div><img src="/public/platform/images/wpFooterIcon/home-active-4.png" alt=""></div>
        <span class="icons-name">Home-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="home-normal-4" >
        <div><img src="/public/platform/images/wpFooterIcon/home-normal-4.png" alt=""></div>
        <span class="icons-name">Home-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="category-active-1" >
        <div><img src="/public/platform/images/wpFooterIcon/category-active-1.png" alt=""></div>
        <span class="icons-name">Category-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="category-normal-1" >
        <div><img src="/public/platform/images/wpFooterIcon/category-normal-1.png" alt=""></div>
        <span class="icons-name">Category-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="category-active-2" >
        <div><img src="/public/platform/images/wpFooterIcon/category-active-2.png" alt=""></div>
        <span class="icons-name">Category-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="category-normal-2" >
        <div><img src="/public/platform/images/wpFooterIcon/category-normal-2.png" alt=""></div>
        <span class="icons-name">Category-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="category-active-3" >
        <div><img src="/public/platform/images/wpFooterIcon/category-active-3.png" alt=""></div>
        <span class="icons-name">Category-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="category-normal-3" >
        <div><img src="/public/platform/images/wpFooterIcon/category-normal-3.png" alt=""></div>
        <span class="icons-name">Category-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="category-active-4" >
        <div><img src="/public/platform/images/wpFooterIcon/category-active-4.png" alt=""></div>
        <span class="icons-name">Category-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="category-normal-4" >
        <div><img src="/public/platform/images/wpFooterIcon/category-normal-4.png" alt=""></div>
        <span class="icons-name">Category-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="commission-active-1" >
        <div><img src="/public/platform/images/wpFooterIcon/commission-active-1.png" alt=""></div>
        <span class="icons-name">Commission-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="commission-normal-1" >
        <div><img src="/public/platform/images/wpFooterIcon/commission-normal-1.png" alt=""></div>
        <span class="icons-name">Commission-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="commission-active-2" >
        <div><img src="/public/platform/images/wpFooterIcon/commission-active-2.png" alt=""></div>
        <span class="icons-name">Commission-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="commission-normal-2" >
        <div><img src="/public/platform/images/wpFooterIcon/commission-normal-2.png" alt=""></div>
        <span class="icons-name">Commission-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="commission-active-3" >
        <div><img src="/public/platform/images/wpFooterIcon/commission-active-3.png" alt=""></div>
        <span class="icons-name">Commission-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="commission-normal-3" >
        <div><img src="/public/platform/images/wpFooterIcon/commission-normal-3.png" alt=""></div>
        <span class="icons-name">Commission-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="commission-active-4" >
        <div><img src="/public/platform/images/wpFooterIcon/commission-active-4.png" alt=""></div>
        <span class="icons-name">Commission-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="commission-normal-4" >
        <div><img src="/public/platform/images/wpFooterIcon/commission-normal-4.png" alt=""></div>
        <span class="icons-name">Commission-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="cart-active-1" >
        <div><img src="/public/platform/images/wpFooterIcon/cart-active-1.png" alt=""></div>
        <span class="icons-name">Cart-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="cart-normal-1" >
        <div><img src="/public/platform/images/wpFooterIcon/cart-normal-1.png" alt=""></div>
        <span class="icons-name">Cart-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="cart-active-2" >
        <div><img src="/public/platform/images/wpFooterIcon/cart-active-2.png" alt=""></div>
        <span class="icons-name">Cart-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="cart-normal-2" >
        <div><img src="/public/platform/images/wpFooterIcon/cart-normal-2.png" alt=""></div>
        <span class="icons-name">Cart-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="cart-active-3" >
        <div><img src="/public/platform/images/wpFooterIcon/cart-active-3.png" alt=""></div>
        <span class="icons-name">Cart-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="cart-normal-3" >
        <div><img src="/public/platform/images/wpFooterIcon/cart-normal-3.png" alt=""></div>
        <span class="icons-name">Cart-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="cart-active-4" >
        <div><img src="/public/platform/images/wpFooterIcon/cart-active-4.png" alt=""></div>
        <span class="icons-name">Cart-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="cart-normal-4" >
        <div><img src="/public/platform/images/wpFooterIcon/cart-normal-4.png" alt=""></div>
        <span class="icons-name">Cart-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="integral-active-1" >
        <div><img src="/public/platform/images/wpFooterIcon/integral-active-1.png" alt=""></div>
        <span class="icons-name">Shop-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="integral-normal-1" >
        <div><img src="/public/platform/images/wpFooterIcon/integral-normal-1.png" alt=""></div>
        <span class="icons-name">Shop-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="integral-active-2" >
        <div><img src="/public/platform/images/wpFooterIcon/integral-active-2.png" alt=""></div>
        <span class="icons-name">Shop-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="integral-normal-2" >
        <div><img src="/public/platform/images/wpFooterIcon/integral-normal-2.png" alt=""></div>
        <span class="icons-name">Shop-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="integral-active-3" >
        <div><img src="/public/platform/images/wpFooterIcon/integral-active-3.png" alt=""></div>
        <span class="icons-name">Shop-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="integral-normal-3" >
        <div><img src="/public/platform/images/wpFooterIcon/integral-normal-3.png" alt=""></div>
        <span class="icons-name">Shop-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="integral-active-4" >
        <div><img src="/public/platform/images/wpFooterIcon/integral-active-4.png" alt=""></div>
        <span class="icons-name">Shop-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="integral-normal-4" >
        <div><img src="/public/platform/images/wpFooterIcon/integral-normal-4.png" alt=""></div>
        <span class="icons-name">Shop-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="member-active-1" >
        <div><img src="/public/platform/images/wpFooterIcon/member-active-1.png" alt=""></div>
        <span class="icons-name">Mmber-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="member-normal-1" >
        <div><img src="/public/platform/images/wpFooterIcon/member-normal-1.png" alt=""></div>
        <span class="icons-name">Mmber-1</span>
    </a>
    <a href="javascript:void(0);" class="items" title="member-active-2" >
        <div><img src="/public/platform/images/wpFooterIcon/member-active-2.png" alt=""></div>
        <span class="icons-name">Mmber-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="member-normal-2" >
        <div><img src="/public/platform/images/wpFooterIcon/member-normal-2.png" alt=""></div>
        <span class="icons-name">Mmber-2</span>
    </a>
    <a href="javascript:void(0);" class="items" title="member-active-3" >
        <div><img src="/public/platform/images/wpFooterIcon/member-active-3.png" alt=""></div>
        <span class="icons-name">Mmber-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="member-normal-3" >
        <div><img src="/public/platform/images/wpFooterIcon/member-normal-3.png" alt=""></div>
        <span class="icons-name">Mmber-3</span>
    </a>
    <a href="javascript:void(0);" class="items" title="member-active-4" >
        <div><img src="/public/platform/images/wpFooterIcon/member-active-4.png" alt=""></div>
        <span class="icons-name">Mmber-4</span>
    </a>
    <a href="javascript:void(0);" class="items" title="member-normal-4" >
        <div><img src="/public/platform/images/wpFooterIcon/member-normal-4.png" alt=""></div>
        <span class="icons-name">Mmber-4</span>
    </a>
 </div>
<input type="hidden" id="selectedData">
<script>
    require(['util'],function(util){


        $('.icon-selection .items').on('click',function(){
            $(this).addClass('active').siblings().removeClass('active')
            var datas=$(this).attr('title');
            $('#selectedData').data('icon',datas)
        })



    })


</script>