<link rel="stylesheet" href="PLATFORM_STATIC/css/wap_iconfont.css?t=20191123">
<style>
.icon-selection .v-icon {
    font-size: 1.8em;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
}
</style>
<div class="icon-selection mb-20"></div>
<input type="hidden" id="selectedData">
<script>
$(function(){
	var icon = [
		'share-01',
		'cart-f',
		'close-f',
		'topic',
		'topic-01',
		'reply',
		'report',
		'horn',
		'evaluate-02',
		'reply-f',
		'edit-02',
		'reply-02',
		'user-f',
		'collect-02',
		'collect-f',
		'add-04',
		'add-04-b',
		'location-03',
		'zan',
		'msg-02',
		'love-02',
		'love-02-f',
		'play-02-f',
		'stop',
		'btc-o',
		'eos-o',
		'eth-o',
		'invisible',
		'motorcycle',
		'car',
		'wait-creat',
		'btc',
		'delivery2',
		'eos',
		'eth',
		'payment2',
		'shareholder-agent',
		'success1',
		'copy',
		'ups',
		'region-agent',
		'team-agent',
		'bind-phone',
		'downs',
		'rate-on',
		'rate-off',
		'rate-half',
		'qq',
		'qq2',
		'edit',
		'text',
		'menu',
		'logistic1',
		'delivery1',
		'delivery3',
		'delivery31',
		'payment1',
		'payment3',
		'evaluate1',
		'evaluate2',
		'logistic2',
		'logistic3',
		'logistic4',
		'cart1',
		'map',
		'map2',
		'phone',
		'shop2',
		'shop1',
		'shop',
		'shop-active',
		'shop3',
		'top',
		'guarantee',
		'success',
		'arrow-left2',
		'arrow-left',
		'bonus',
		'balance1',
		'balance2',
		'applicat-active',
		'applicat',
		'Forward',
		'text1',
		'manage',
		'team',
		'commission',
		'member',
		'member-active',
		'cart',
		'cart-active',
		'close',
		'upward',
		'user1',
		'avatar',
		'praise',
		'validate',
		'logistic5',
		'level',
		'arrow-right',
		'arrow-right2',
		'triangle',
		'money',
		'kf1',
		'kf3',
		'kf2',
		'remove',
		'edit2',
		'password',
		'acreage',
		'acreage2',
		'sort1',
		'sort2',
		'sort',
		'position',
		'manage2',
		'channel',
		'channel2',
		'confirm',
		'qr',
		'qr1',
		'screen',
		'cart2',
		'stock',
		'collection',
		'set',
		'set1',
		'set2',
		'set3',
		'love',
		'star',
		'phone1',
		'home',
		'home-active',
		'sale',
		'help',
		'logistic6',
		'search',
		'gift',
		'warn',
		'warn1',
		'refund',
		'forget',
		'wechat',
		'wx-pay',
		'avatar1',
		'form',
		'qr3',
		'customer',
		'assets',
		'take',
		'stars',
		'stars-hover',
		'logistic7',
		'write',
		'message',
		'mail',
		'message1',
		'overdue',
		'success2',
		'collect',
		'success21',
		'card',
		'coupon-expire',
		'coupon-use',
		'balance3',
		'menu1',
		'arrow-down',
		'spread',
		'user',
		'camera',
		'info',
		'alipay',
		'success3',
		'close2',
		'set-top',
		'review',
		'join',
		'assets1',
		'location',
	]
	var iconHtml = ''
	for (var i = 0; i < icon.length; i++) {
		iconHtml += '<a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" class="item" title="icon-'+icon[i]+'"><i class="v-icon v-icon-'+icon[i]+'"></i><span class="icons-name">'+icon[i]+'</span></a>';
	}
	$('.icon-selection').append(iconHtml)
	$('[data-toggle="tooltip"]').tooltip();
	$('.icon-selection .item').on('click',function(){
		$(this).addClass('active').siblings().removeClass('active')
		$('#selectedData').data('icon','v-icon-'+$(this).text())
	})
})
</script>