{block name="resource"}
<style>
    .label-danger a{padding-top:5px;}
</style>
{/block}
{block name="main"}
            <!-- page -->
            <div class="mb-20">
                <a href="{:__URL('platform/Menu/addonmenu?addons=addThingcircleTopic')}" class="btn btn-primary"><i class="icon icon-add1"></i> 添加话题</a>
            </div>
            <table class="table v-table table-auto-center tree" >
                <thead>
                <tr>
                    {if($setup['topic_state']==1)}<th class="text-left"><i class="treegrid-expander icon icon-minus toggle_tree"></i></th>{/if}
                    <th>排序</th>
                    <th>话题名称</th>
                    <th>关联干货数</th>
                    <th>状态</th>
                    <th  class="col-md-2 pr-14 operationLeft">操作</th>
                </tr>
                </thead>
                <tbody >
                    {if $topic_list}
                {volist name="topic_list" id="v"}
                 {if $v.superiors_id == 0}
                <tr class="treegrid-{$v.topic_id}">
                    {if($setup['topic_state']==1)}
                    <td class="text-left"></td>
                    {/if}
                    <td>
                        <input type="text" data-category_id="{$v.topic_id}" class="form-control sort-form-control" value="{$v.sort}">
                    </td>
                    <td>
                        <div><input type="text" data-category_id="{$v.topic_id}" class="form-control change_category_name" value="{$v.topic_title}"></div>
                    </td>
                    
                    <td>
                        <div>{$v.count}</div>
                    </td>
                    <td>
                        {if condition="$v['state'] eq '1' "}
                        <a href="javascript:void(0);" class="label label-success is_show" data-is_show="0">是</a>
                        {else}
                        <a href="javascript:void(0);" class="label label-danger is_show" data-is_show="1">否</a>
                        {/if}
                        <input type="hidden" name="topic_id" value="{$v.topic_id}">
                        <input type="hidden" name="test" value="">
                    </td>
                    <td class="operationLeft fs-0">
                        <input type="hidden" name="topic_id" value="{$v.topic_id}">
                        {if($setup['topic_state']==1)}
                        <a href="{:__URL('platform/Menu/addonmenu?addons=addThingcircleTopic&topic_id='.$v['topic_id'])}" class="btn-operation">添加子话题</a>
                        {/if}
                        <a href="{:__URL('platform/Menu/addonmenu?addons=updateThingcircleTopic&topic_id='.$v['topic_id'])}" class="btn-operation">编辑</a>
                        <a href="javascript:void(0);" class="btn-operation delete_topic text-red1">删除</a>
                        
                    </td>
                </tr>
                {if($setup['topic_state']==1)}
                {volist name="v['child_list']" id="two"}
                <tr class="treegrid-{$two.topic_id} treegrid-parent-{$two.superiors_id}">
                    <td class="text-left"></td>
                    <td>
                        <input type="text" data-topic_id="{$two.topic_id}" class="form-control sort-form-control" value="{$two.sort}">
                    </td>
                    <td>
                        <div class="pl-15"><input type="text" data-topic_id="{$two.topic_id}" class="form-control change_category_name" value="{$two.topic_title}"></div>
                    </td>
                    <td>
                        <div>{$two.count}</div>
                    </td>
                    <td>
                        {if condition="$two['state'] eq '1' "}
                        <a href="javascript:void(0);" class="label label-success is_show" data-is_show="0">是</a>
                        {else}
                        <a href="javascript:void(0);" class="label label-danger is_show" data-is_show="1">否</a>
                        <input type="hidden" name="topic_id" value="{$two.topic_id}">
                        {/if}
                    </td>
                    <td class="operationLeft fs-0">
                        <input type="hidden" name="topic_id" value="{$two.topic_id}">
                        <a href="{:__URL('platform/Menu/addonmenu?addons=updateThingcircleTopic&topic_id='.$two['topic_id'])}" class="btn-operation">编辑</a>
                        <a href="javascript:void(0);" class="btn-operation delete_topic text-red1">删除</a>
                    </td>
                </tr>
                {/volist}
                {/if}
                    {/if}
                {/volist}
                {else}
                <tr align="center"><td colspan="6">暂无符合条件的数据记录</td></tr>
                {/if}
                </tbody>
            </table>

            <!-- page end -->
{/block}

{block name="script"}
<script>
    require(['util'],function(util){
        util.treegrid('.tree');
        $(".toggle_tree").toggle(function(){
            $(".tree").treegrid("collapseAll");
            $(this).removeClass("icon-minus").addClass("icon-plus");
        },function(){
            $(".tree").treegrid("expandAll");
            $(this).removeClass("icon-plus").addClass("icon-minus");
        })
        util.tips();

        //删除话题
        $('.delete_topic').on('click', function () {
            var topic_id = $(this).siblings("input[name='topic_id']").val();
            util.alert('确认删除此话题吗 ？', function () {
                $.ajax({
                    type : "post",
                    url : "{$delThingcircleTopicUrl}",
                    async : true,
                    data : {
                        "topic_id" : topic_id,
                    },
                    success : function(data) {
                        if (data["code"] > 0) {
                            util.message(data["message"],'success',"{:__URL('ADDONS_MAINtopicList')}");
                        }else{
                            util.message(data["message"],'danger');
                        }
                    }
                })
            })
        })
        //排序
        $('.sort-form-control').change(function(){
            var category_id = $(this).data('category_id');
            var sort_val = $(this).val();
            // console.log(category_id);return;
            $.ajax({
                type : "post",
                url : "{:__URL('PLATFORM_MAIN/Goods/changeGoodsCategorySort')}",
                async : true,
                data : {category_id : category_id, sort_val : sort_val},
                success : function(data) {
                    // console.log(data);return;
                    if (data["code"] > 0) {
                        util.message(data["message"],'success',"{:__URL('PLATFORM_MAIN/Goods/goodscategorylist')}");
                    }else{
                        util.message(data["message"],'danger');
                    }
                }
            })
        })
        //修改分类名
        $('.change_category_name').change(function(){
            var category_id = $(this).data('category_id');
            var category_name = $(this).val();
            $.ajax({
                type : "post",
                url : "{:__URL('PLATFORM_MAIN/Goods/changeGoodsCategoryName')}",
                async : true,
                data : {category_id : category_id, category_name : category_name},
                success : function(data) {
                    if (data["code"] > 0) {
                        util.message(data["message"],'success',"{:__URL('PLATFORM_MAIN/Goods/goodscategorylist')}");
                    }else{
                        util.message(data["message"],'danger');
                    }
                }
            })
        })

       
        //是否显示
        $('.is_show').click(function(){
            test = 'test';
            $(this).removeClass('is_show');
            var status = $(this).data('is_show');
            is_show(this, status);
        })
        function is_show(obj, status){
            var topic_id = $(obj).next().val();
            util.alert('是否更改状态？',function(){
                $.ajax({
                    type : "post",
                    url : "{$changeTopicStateUrl}",
                    async : true,
                    data : {topic_id : topic_id, state : status},
                    success : function(data) {
                        if (data["code"] > 0) {
                            util.message(data["message"],'success',"{:__URL('ADDONS_MAINtopicList')}");
                        }else{
                            util.message(data["message"],'danger');
                        }
                        $(this).addClass('is_show');
                    }
                })
            })

        }
    })
</script>
{/block}