<form class="form-horizontal padding-15 form-validate widthFixedForm">
    <div id="content_type">
        <ul class="nav nav-tabs v-nav-tabs" role="tablist" style="margin-left: 14px;margin-right: 14px;">
            <li role="presentation" class="active">
                <a href="#base" aria-controls="base" role="tab" data-toggle="tab"
                   data-type="1" class="flex-auto-center">基本设置</a>
            </li>
            <li role="presentation">
                <a href="#credential_design" aria-controls="credential_design" role="tab" data-toggle="tab"
                   data-type="2" class="flex-auto-center">证书设计</a>
            </li>
        </ul>
        <div class="template-list tab-content">
            <div class="tab-pane fade in active" id="base">
                <ul class="template-list-ul clearfix">
                    <div class="form-group">
                        <label class="col-md-2 control-label"><span class="text-bright">*</span>证书名称</label>
                        <div class="col-md-5">
                            <input type="text" id="credential_name" class="form-control" name="credential_name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"><span class="text-bright">*</span>证书类型</label>
                        <div class="col-md-5">
                            <label class="radio-inline">
                                <input type="radio" name="type" id="type_1" value="1" checked> 分销商
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="type" id="type_2" value="2"> 团队队长
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="type" id="type_3" value="3"> 区域代理
                            </label>
                            <label class="radio-inline J-micro-shop">
                                <input type="radio" name="type" id="type_4" value="4"> 全球股东
                            </label>
                            <label class="radio-inline J-micro-shop">
                                <input type="radio" name="type" id="type_5" value="5"> 渠道商
                            </label>
                            <label class="radio-inline J-micro-shop">
                                <input type="radio" name="type" id="type_6" value="6"> 微店
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"><span class="text-bright">*</span>是否默认</label>
                        <div class="col-md-5">
                            <label class="radio-inline">
                                <input type="radio" name="is_default" id="is_default_1" value="1" checked> 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="is_default" id="is_default_0" value="0"> 否
                            </label>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="tab-pane fade" id="credential_design">
                <ul class="template-list-ul clearfix">
                    <table style='width:100%;'>
                        <tr>
                            <td style='width:320px;' valign='top'>
                                <div id='poster'>
                                    <img src="" class='bg'/>
                                </div>
                            </td>
                            <td valign='top'>
                                <div class='panel panel-default' style="min-height: 504px">
                                    <div class='panel-body'>
                                        <div class="form-group" id="bgset">
                                            <label class="col-sm-2 control-label">背景图片</label>
                                            <div class="col-sm-8">
                                                <div class="input-group ">
                                                    <input type="text" name="bg" value="" class="form-control goods-pic"
                                                           autocomplete="off" readonly>
                                                    <span class="input-group-btn">
                                                        <a href="javascript:void(0);" id=""
                                                           class="btn btn-primary mr-04"
                                                           data-toggle="editPosterPicture">选择图片</a>
                                                        <a href="javascript:void(0);" class="btn btn-primary clearPic">清除图片</a>
			                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">证书元素</label>
                                            <div class="col-sm-8">
                                                <button class='btn btn-default btn-com' type='button' data-type='words'>文字</button>
                                                <button class='btn btn-default btn-com' type='button' data-type='img'>图片</button>
                                                <button class='btn btn-default btn-com' type='button' data-type='qr'>二维码</button>
                                                <button class='btn btn-default btn-com' type='button' data-type='head'>头像</button>
                                                <button class='btn btn-default btn-com' type='button' data-type='nickname'>昵称</button>
                                                <button class='btn btn-default btn-com' type='button' data-type='wx'>微信号</button>
                                                <button class='btn btn-default btn-com' type='button' data-type='level'>等级</button>
                                                <button class='btn btn-default btn-com' type='button' data-type='phone'>手机号</button>
                                                
                                                
                                                <!--<span id="goodsparams">
                                                    <button class='btn btn-default btn-com' type='button'
                                                            data-type='title'>商品名称</button>
                                                    <button class='btn btn-default btn-com' type='button'
                                                            data-type='thumb'>商品图片</button>
                                                    <button class='btn btn-default btn-com' type='button'
                                                            data-type='marketprice'>商品现价</button>
                                                    <button class='btn btn-default btn-com' type='button'
                                                            data-type='productprice'>商品原价</button>
                                                </span>-->
                                            </div>
                                        </div>

                                        <div id='nameset' style='display:none'>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">昵称颜色</label>
                                                <div class="col-sm-8 wid100">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" name="color"
                                                               placeholder="请选择颜色" value="">
                                                        <span class="input-group-addon"
                                                              style="width:35px;border-left:none;background-color:"></span>
                                                        <span class="input-group-btn">
										                    <button class="btn btn-default colorpicker" type="button">选择颜色 ▼</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">昵称大小</label>
                                                <div class="col-sm-8">
                                                    <div class='input-group wid100'>
                                                        <input type="number" name="namesize" id="namesize" class="form-control namesize"
                                                               placeholder="例如: 14,16"/>
                                                        <div class='input-group-addon'>px</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id='wordset' style='display:none'>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">字体颜色</label>
                                                <div class="col-sm-8 wid100">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" name="color" placeholder="请选择颜色" value="">
                                                        <span class="input-group-addon" style="width:35px;border-left:none;background-color:"></span>
                                                        <span class="input-group-btn">
										                    <button class="btn btn-default colorpicker" type="button">选择颜色 ▼</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">字体大小</label>
                                                <div class="col-sm-8">
                                                    <div class='input-group wid100'>
                                                        <input type="number" name="namesize" id="namesize1" class="form-control namesize"
                                                               placeholder="例如: 14,16"/>
                                                        <div class='input-group-addon'>px</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">文字内容</label>
                                                <div class="col-sm-8">
                                                    <div class="flex">
                                                        <textarea class="form-control bbrr0" rows="8" name="wordContent" id="wordContent">文字内容111</textarea>
                                                        <div class="variate-choice">
                                                            <p>添加变量</p>
                                                            <div class="variate-choice-item">
                                                                <a class="text-primary block variate-choice-code" href="javascript:void(0);" data-code="[昵称]">昵称</a>
                                                                <a class="text-primary block variate-choice-code" href="javascript:void(0);" data-code="[微信号]">微信号</a>
                                                                <a class="text-primary block variate-choice-code" href="javascript:void(0);" data-code="[等级]">等级</a>
                                                                <a class="text-primary block variate-choice-code" href="javascript:void(0);" data-code="[手机号]">手机号</a>
                                                            </div>
                                                        </div>
                                                     </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group" id="imgset" style="display:none">
                                            <label class="col-sm-2 control-label">图片设置</label>
                                            <div class="col-sm-8">
                                                <div class="input-group ">
                                                    <input type="text" name="img" value=""
                                                           class="form-control goods-pic" autocomplete="off" readonly>
                                                    <span class="input-group-btn">
									                    <a class="btn btn-primary mr-04"
                                                           data-toggle="editPosterPicture1">选择图片</a>
                                                        <!--<a href="javascript:void(0);" class="btn btn-primary clearPic1">清除图片</a>-->
								                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-8">
            <button class="btn btn-primary add" type="submit">保存</button>
        </div>
    </div>
</form>

<script id="tpl_drag" type="text/html">
    <%each items as item index%>
    <div class="drag" index="<%item.index%>" style="<%item.style%>"
         size="<%item.size%>" item-color="<%item.color%>">
        <%if item.type == 'img' || item.type == 'qr' || item.type == 'head' || item.type == 'thumb'%>
        <img src="<%item.img%>">
        <%else%>
        <div class="text"
             style="font-size: <%item.size%>pt;
              color: <%item.color%>">
            <%item.string%>
        </div>
        <%/if%>
        <div class="rRightDown"></div>
        <div class="rLeftDown"></div>
        <div class="rRightUp"></div>
        <div class="rLeftUp"></div>
        <div class="rRight"></div>
        <div class="rLeft"></div>
        <div class="rUp"></div>
        <div class="rDown"></div>
    </div>
    <%/each%>
</script>

<script id="tpl_coupon_type" type="text/html">
    <%each data as item index%>
    <option value="<%item.coupon_type_id%>" <%if item.coupon_type_id ==  selected_id%>selected<%/if%>><%item.coupon_name%></option>
    <%/each%>
</script>

<script id="tpl_gift_voucher" type="text/html">
    <%each data as item index%>
    <option value="<%item.gift_voucher_id%>" <%if item.gift_voucher_id == selected_id%>selected<%/if%>><%item.giftvoucher_name%></option>
    <%/each%>
</script>

<script>
    require(['util', 'poster', 'tpl','insertContent'], function (util, poster, tpl,insertContent) {
            $('.variate-choice-item').on('click','.variate-choice-code',function(){
            var code = $(this).data('code');
            var contents = $(this).parents('.variate-choice').siblings('#wordContent');
            contents.insertContent(code);
        })
        //提交数据
        var flag = false;
        util.validate($('.form-validate'), function (form) {
            //证书名称
            var credential_name = $('#credential_name').val();
            var credential_type = $('input[name=type]:checked').val();
            var is_default = $('input[name=is_default]:checked').val();

            // if (!flag){
                // flag = true
            $('.add').html('提交中...');
            $('.add').attr('disabled', true);
            $.ajax({
                type: "post",
                url: '{$saveCredentialUrl}',
                data: {
                    'cred_id':'{$cred_id}',
                    'cred_name': credential_name,
                    'cred_type': credential_type,
                    'is_default': is_default,
                    'credential_data': poster.posterData(),
                },
                success: function (data) {
                    if (data["code"] > 0) {
                        util.message(data["message"], 'success', "{:__URL('ADDONS_MAINcredentialList')}");
                        // util.message(data["message"], 'success');
                    } else {
                        util.message(data["message"], 'danger');
                    }
                }
            });
            // }
        })
    });
</script>