<div  data-homehtml='bottom'>
    {if $footer_body != 1}
	<!--以上为页头区域-->
	<div class="prompt" data-html="not">以下为尾部公共区域</div>
	{/if}
    <div class="footer-bt5 J-shopbottom">
        <div class="guide-icon  ui-sortable-handle  lyrow ui-draggable" data-purebox="banner" data-mode="bottomBanner" ectype="visualItme" data-diff="0" data-length="1" data-bottomBanner="1" data-homehtml='bottomBanner'>
            <div class="s-banner bottom-banner" >
                <div class="module w1200" data-type="range" >
                    <a href="javascript:void(0)"><img width="1200"  src="http://iph.href.lu/1200x112/4CD964/fff"></a>
                </div>
            </div>
            <div class="setup_box" data-html="not">
                <div class="barbg"></div>
                <a href="javascript:void(0);" class="move-edit" ectype="model_edit"><i class="iconfont icon-edit"></i>编辑</a>
            </div>
        </div>
	<!--帮助中心-->
	<div class="dsc-help lyrow" ectype="help"  data-mode="help_mode" data-purebox="help_mode">
		<div class="w1200 clearfix" data-type="range">
			<div class="help-list J-helpList">
				<div class="help-item">
					<h3></h3>
					<ul>

					</ul>
				</div>
			</div>
			<div class="help-cover">
				<div class="help-ctn">
					<div class="help-ctn-mt">
						<span>客服联系方式</span>
					</div>
				</div>
				<div class="help-scan">
					<div class="code">
						<img src="http://iph.href.lu/110x110">
					</div>
				</div>
			</div>

		</div>
		<!--编辑删除-->
		<div class="setup_box">
			<div class="barbg"></div>
			<a href="javascript:void(0);" class="move-edit helpCenter" ectype="model_edit"><i class="icon icon-edit"></i>编辑</a>
		</div>
	</div>
		<!--友情链接-->
	<div class="link pr lyrow" ectype="copy" ectype="link"  data-mode="link_mode" data-purebox="link_mode">
		<div class="about w1200" data-type="range">
		</div>
		<!--编辑删除-->
		<div class="setup_box">
			<div class="barbg"></div>
			<a href="javascript:void(0);" class="move-edit links" ectype="model_edit" >编辑</a>
		</div>
	</div>
	<!--底部-->
	<div class="footer pr lyrow" ectype="copy"  data-mode="copy_mode" data-purebox="copy_mode" >
		<div class="w1200" data-type="range">
			<div class="company copyright">

			</div>
			<div class="web">
				<a href="javascript:void(0)" target="_blank" ><img src="http://iph.href.lu/33x33" alt="" width="33" height="33" /></a>
			</div>
		</div>
		<!--编辑删除-->
		<div class="setup_box">
			<div class="barbg"></div>
			<a href="javascript:void(0);" class="move-edit copyInfo" ectype="model_edit" >编辑</a>
		</div>

	</div>
	<!--右侧固定栏-->
	<div class="rights lyrow" ectype="right"  data-mode="right_mode" data-purebox="right_mode">
		<div style="width: 36px; height:100%;">
			<div class="right-sidebar-con">
				<div class="right-sidebar-main">
					<div class="right-sidebar-panel" data-type="range">

						<div id="quick-links" class="quick-links">
							<ul>
								<li class="quick-area quick-login sidebar-user-trigger">
									<a href="javascript:void(0);" class="quick-links-a">
										<i class="setting"></i>
									</a>
								</li>
								<li class="sidebar-tabs">
									<!-- 购物车 -->
									<div class="cart-list quick-links-a sidebar-cartbox-trigger">
										<i class="cart"></i>
										<div class="span">购物车</div>
										<span class="ECS_CARTINFO">
                                                        <span class="cart_num js-cart-count">0</span>
                                                    <div class="sidebar-cart-box">
                                                        <h3 class="sidebar-panel-header">
                                                            <a href="javascript:void(0);" class="title">
                                                                                            <i class="cart-icon"></i> <em class="title">购物车</em>
                                                                                        </a>
                                                            <span class="close-panel"></span>
                                                        </h3>
                                                    </div>
                                                    </span>
									</div>
								</li>
								<li class="sidebar-tabs" data-ns-flag="love_history">
									<a href="javascript:void(0);" class="mpbtn_history quick-links-a sidebar-historybox-trigger">
										<i class="history"></i>
									</a>
									<!--<div class="popup" style="left: -121px; visibility: hidden;">
                                        <font id="mpbtn_histroy">我看过的</font> <i class="arrow-right"></i>
                                    </div>-->
								</li>
								<li id="collectGoods" class="sidebar-tabs" data-ns-flag="collections_goods">
									<a href="javascript:void(0);" class="mpbtn_collect quick-links-a">
										<i class="collect"></i>
									</a>
									<!--<div class="popup" style="left: -121px; visibility: hidden;">
                                        我收藏的商品 <i class="arrow-right"></i>
                                    </div>-->
								</li>
							</ul>
						</div>

						<div class="quick-toggle">
							<ul>
								<li class="quick-area">
									<a class="quick-links-a" href="javascript:void(0);">
										<i class="customer-service"></i>
									</a>
								</li>
								<li class="quick-area">
									<a class="quick-links-a" href="javascript:void(0);"> <i class="qr-code"></i></a>
									<div class="sidebar-code quick-sidebar" style="display: none;">
										<i class="qr-code"></i>
										<img src="">
									</div>
								</li>
								<li class="returnTop">
									<a href="javascript:void(0);" class="return_top quick-links-a">
										<i class="top"></i>
									</a>
									<!--<div class="popup" style="left: -121px; visibility: hidden;">
                                    返回顶部 <i class="icon icon-notice"></i>
                                </div>-->
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="setup_box" data-html="not">
			<div class="barbg"></div>
			<a href="javascript:void(0);" class="move-edit rightsMenu" ectype="model_edit" style="right: 0px;width:50px;top:200px;text-align: center">编辑</a>
		</div>
	</div>

    </div>
</div>

