<script>
		var PLATFORM_NAME = "{$title_name}";
		var PLATFORMIMG = "PLATFORM_IMG";//后台图片请求路径
		var PLATFORMMAIN = "PLATFORM_MAIN";//后台请求路径
		var SHOPMAIN = "SHOP_MAIN";//PC端请求路径
		var APPMAIN = "APP_MAIN";//手机端请求路径
		var UPLOAD = "__UPLOAD__";//上传文件根目录
		var PAGESIZE = "{$pagesize}";//分页显示页数
		var ROOT = "__ROOT__";//根目录
		var ADDONS = "__ADDONS__";
		var STATIC = "__STATIC__";
		//上传文件路径
		var UPLOADGOODS = 'upload/{$website_id}/goods/';//'UPLOAD_GOODS';//存放商品图片
        var UPLOADGOODSSKU = 'upload/{$website_id}/goods_sku/';//'UPLOAD_GOODS_SKU';//存放商品SKU
        var UPLOADGOODSBRAND = 'upload/{$website_id}/goods_brand/';//'UPLOAD_GOODS_BRAND';//存放商品品牌图
        var UPLOADGOODSGROUP = 'upload/{$website_id}/goods_group/';//'UPLOAD_GOODS_GROUP';////存放商品分组图片
        var UPLOADGOODSCATEGORY = 'upload/{$website_id}/goods_category/';//'UPLOAD_GOODS_CATEGORY';////存放商品分类图片
        var UPLOADCOMMON = 'upload/{$website_id}/common/';//'UPLOAD_COMMON';//存放公共图片、网站logo、独立图片、没有任何关联的图片
        var UPLOADAVATOR = 'upload/{$website_id}/avator/';//'UPLOAD_AVATOR';//存放用户头像
        var UPLOADPAY = 'upload/{$website_id}/pay/';//'UPLOAD_PAY';//存放支付生成的二维码图片
        var UPLOADADV = 'upload/{$website_id}/adv/';//'UPLOAD_ADV';//存放广告位图片
        var UPLOADEXPRESS = 'upload/{$website_id}/express/';//'UPLOAD_EXPRESS';//存放物流图片
        var UPLOADCMS = 'upload/{$website_id}/cms/';//'UPLOAD_CMS';//存放文章图片
        var UPLOADVIDEO = 'upload/{$website_id}/video/';//'UPLOAD_VIDEO';//存放视频文件
</script>