
var formatNumber = function(n){
  n = n.toString()
  return n[1] ? n : '0' + n
}
 
var regYear = getRegExp("(y+)", "i");


module.exports = {
	formatDate: function (timestamp,format) {
		if (!format) {
			format = "yyyy-MM-dd hh:mm:ss";
		}
		timestamp = parseInt(timestamp)*1000;
		var realDate = getDate(timestamp);

		function timeFormat(num) {
			return num < 10 ? '0' + num : num;
		}
		var date = [
			["M+", timeFormat(realDate.getMonth() + 1)],
			["d+", timeFormat(realDate.getDate())],
			["h+", timeFormat(realDate.getHours())],
			["m+", timeFormat(realDate.getMinutes())],
			["s+", timeFormat(realDate.getSeconds())],
			["q+", Math.floor((realDate.getMonth() + 3) / 3)],
			["S+", realDate.getMilliseconds()],
		];
		var reg1 = regYear.exec(format);
		// console.log(reg1[0]);
		if (reg1) {

			format = format.replace(reg1[1], (realDate.getFullYear() + '').substring(4 - reg1[1].length));
		}
		for (var i = 0; i < date.length; i++) {
			var k = date[i][0];
			var v = date[i][1];

			var reg2 = getRegExp("(" + k + ")").exec(format);
			if (reg2) {
				format = format.replace(reg2[1], reg2[1].length == 1 ?
					v : ("00" + v).substring(("" + v).length));
			}
		}
		return format;
	},
	praise: function (value) {
		var num = 0;
		if (value > 10000) {
			num = (value - (value % 1000)) / 10000 + "w";
		} else {
			num = value;
		}
		return num;
	},
	getTimer: function (value) {
		var date = getDate();
		var minute = 1000 * 60;
		var hour = minute * 60;
		var day = hour * 24;
		var week = day * 7;
		var month = day * 30;
		var year = month * 12;
		var time1 = date.getTime(); //当前的时间戳
		var time2 = parseInt(value * 1000); //指定时间的时间戳
		var time = time1 - time2;

		var result = null;
		if (time < 0) {} else if (time / year >= 1) {
			result = parseInt(time / year) + "年前";
		} else if (time / month >= 1) {
			result = parseInt(time / month) + "月前";
		} else if (time / week >= 1) {
			result = parseInt(time / week) + "周前";
		} else if (time / day >= 1) {
			result = parseInt(time / day) + "天前";
		} else if (time / hour >= 1) {
			result = parseInt(time / hour) + "小时前";
		} else if (time / minute >= 1) {
			result = parseInt(time / minute) + "分钟前";
		} else {
			result = "刚刚发布";
		}
		return result;
	}
}