<form class="form-horizontal padding-15" id="">
    <div class="form-group">
        <label class="col-md-3 control-label">余额流水号</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["records_no"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">会员信息</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["user_tel"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">变动类型</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["type_name"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">变动金额</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["number"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">变动手续费</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["charge"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">变动时间</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["create_time"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">描述</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["text"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">备注</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["msg"]}</p>
        </div>
    </div>
</form>