<form class="form-horizontal padding-15" id="">
    <div class="form-group">
        <label class="col-md-3 control-label">分红流水号</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["records_no"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">会员信息</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["user_tel"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">分红类型</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["bonus_type"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">变动类型</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["from_type"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">变动金额</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["bonus"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">变动时间</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["create_time"]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">描述</label>
        <div class="col-md-8">
            <p class="form-control-static">{$list[0]["text"]}</p>
        </div>
    </div>
</form>